extend ../layout/common

block content
    if(errors) 
      each error in errors
        .alert.alert-danger=error
    .container
      h3
        span.mr-2=user.userName
        if(user.isAdmin)
          span.badge.badge-primary Admin
      .row
        .col-2.col-sm-3
          figure.mr-3(style="width: 100px; border-radius: 50%; height: 100px; overflow: hidden")
            img(src=user.avatarUrl, height="100%")
          a.mb-3.btn.btn-primary(href="/profile/avatar") Edit avatar
        .col
          p
            b Email: &nbsp
            span=user.email
          p
            b Name: &nbsp
            span=user.userName
      form(action="" method="POST")
        .form-group
          label(for="email") Email 
          input#email.form-control(type="email", name="email", value=values? values.email:"") 
        .form-group
          label(for="userName") Username 
          input#userName.form-control(type="text", name="userName", value=values? values.userName:"") 
        .form-group
          label(for="password") Password 
          input#password.form-control(type="password", name="password")    
        button.btn.btn-primary(type='submit') Submit